.tab-item {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
  padding: 0.5em;
}
.tab-name {
  font-size: 12px;
  color: #999;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: #aaa;
  overflow: hidden;
}
.active .tab-name {
  color: #42bd56;
}
.active .icon {
  fill: #42bd56;
}
